## **Model Training**
**1.1 Import Data and Required Packages**

Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [107]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score , accuracy_score , mean_squared_error, mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression , Ridge , Lasso



# from sklearn.metrics import 
# from sklearn.model_selection import

In [ ]:
# print(r2_score.__doc__)

#### **Import the CSV Data as Pandas DataFrame**

In [15]:
df = pd.read_csv('student data.csv')

#### **Show Top 5 Records**

In [18]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### **Preparing X and Y variables**

In [55]:
X = df.drop(columns = ['math_score'])
print('\n',X.shape, '\n')
X.head()

 (1000, 7)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [56]:
print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race_ethnicity' variable:  ",end=" ")
print(df['race_ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:     ",end=" " )
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [88]:
y = df['math_score']
print(y.shape)
y

(1000,)

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [65]:
# we need to transform the columns but first we need to extract separate numerical and categorical features

num_features = X.select_dtypes(include=int).columns
cat_features = X.select_dtypes(include=object).columns

In [66]:
num_features

Index(['reading_score', 'writing_score'], dtype='object')

In [67]:
cat_features

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [68]:
# transforming these numerical and categorical features to numbers

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [98]:
# ColumnTransformer??

In [70]:
numeric_transformer = StandardScaler()
cat_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ('standardScale',numeric_transformer,num_features),
        ('OneHotEncoder',cat_transformer,cat_features)
    ]
)

In [71]:
X = preprocessor.fit_transform(X)

In [76]:
X.shape

(1000, 19)

In [77]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=20)

In [78]:
X_train.shape , X_test.shape

((800, 19), (200, 19))

In [94]:
obj = {'a':50}

In [97]:
list.values()

dict_values([50])

### Create an Evaluate Function to give all metrics after model Training

In [119]:
def model_performance(true,predict):
    # r2_square = r2_score(true , predict)
    mae = mean_absolute_error(true,predict)
    rmse = np.sqrt(mean_squared_error(true, predict))
    # acc_score = accuracy_score(true,predict)

    return  mae , rmse , r2_score

In [122]:
models = {
    'linear Regression' : LinearRegression(),
    'decision Tree' : DecisionTreeRegressor(),
    'ridge' : Ridge(),
    'lasso' : Lasso()
}

model_list = []
r2_list = []

for model in models.values():
    # Train models
    model.fit(X_train, y_train)  # Replace with your training data and method
    predictions_train = model.predict(X_train)
    predictions = model.predict(X_test)  # Replace with your test data and method
    r2 = r2_score(y_test, predictions)  # Replace with your metric and method
    model_list.append(model)
    r2_list.append(r2)

    model_train_mae , model_train_rmse, model_train_r2 = model_performance(y_train, predictions_train )

    model_test_mae , model_test_rmse, model_test_r2 = model_performance(y_test, predictions)

    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    # print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    # print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')


print(model_list)
print(r2_list)

Model performance for Training set
- Root Mean Squared Error: 5.2761
- Mean Absolute Error: 4.2055
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.5396
- Mean Absolute Error: 4.4370
===================================


Model performance for Training set
- Root Mean Squared Error: 0.2500
- Mean Absolute Error: 0.0125
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 8.6426
- Mean Absolute Error: 6.9450
===================================


Model performance for Training set
- Root Mean Squared Error: 5.2763
- Mean Absolute Error: 4.2044
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.5410
- Mean Absolute Error: 4.4382
===================================


Model performance for Training set
- Root Mean Squared Error: 6.4936
- Mean Absolute Error: 5.1108
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.5424
- Mean Absolute Error: 5.2077
===================================


[LinearRegression(), DecisionTreeRegressor(), Ridge(), Lasso()]
[0.8625267634838566, <function r2_score at 0x000001A4B03CCC20>, 0.6653749289238116, <function r2_score at 0x000001A4B03CCC20>, 0.8624536930210847, <function r2_score at 0x000001A4B03CCC20>, 0.8082498539822035, <function r2_score at 0x000001A4B03CCC20>]

In [ ]:
evaluate_model

In [105]:
# models = {
#     'linear Regression' : LinearRegression(),
#     'decision Tree' : DecisionTreeRegressor(),
#     'ridge' : Ridge(),
#     'lasso' : Lasso()
# }

# for i in range(len(list(models))):
#     model = models.values()[i]

TypeError: 'dict' object is not callable